:root {
  --color-main: pink;
  --color-white: #fff;
  --color-black: #000;
  --sizing-xs: 4px;
  --sizing-s: 8px;
  --sizing-m: 16px;
  --sizing-l: 32px;
  --sizing-xl: 64px;
  --spacing-xs: 16px;
  --spacing-s: 32px;
  --spacing-m: 64px;
  --spacing-l: 96px;
  --spacing-xl: 192px;
  --font-family: Arial;
  --button-border: groove;
  --button-border-none: none;
}

main {
  margin: 0 var(--spacing-xl) 0 var(--spacing-xl);
}

body {
  background-color: var(--color-white);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--sizing-xl);
}
h2 {
  font-size: var(--sizing-l);
}
p {
  font-size: var(--sizing-m);
}

main {
  padding: var(--spacing-l);
}

.btn {
  padding: var(--sizing-s) var(--sizing-l) var(--sizing-s) var(--sizing-l);
}

.btn--default {
  border-style: var(--button-border);
  border-color: var(--color-black);
  background-color: var(--color-main);
}

.btn--action {
  border-style: var(--button-border-none);
  border-color: var(--color-black);
  padding: var(--sizing-s) var(--sizing-l) var(--sizing-s) var(--sizing-l);
  background-color: var(--color-main);
}

img {
  width: 300px;
  margin: var(--sizing-l);
}

/* utility classes */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align-center {
  text-align: center;
}
