:root {
  --color-main: pink;
  --color-white: #fff;
  --color-black: #000;
  --sizing-xs: 4px;
  --sizing-s: 8px;
  --sizing-m: 16px;
  --sizing-l: 32px;
  --sizing-xl: 64px;
  --spacing-xs: 16px;
  --spacing-s: 32px;
  --spacing-m: 64px;
  --spacing-l: 96px;
  --font-family: Arial;
  --button-border: groove;
}

body {
  background-color: var(--color-white);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--sizing-xl);
}
h2 {
  font-size: var(--sizing-l);
}
p {
  font-size: var(--sizing-m);
}

main {
  padding: var(--spacing-l);
}

button {
  border-style: var(--button-border);
  border-color: var(--color-black);
  padding: var(--sizing-s) var(--sizing-l) var(--sizing-s) var(--sizing-l);
  background-color: var(--color-main);
}

img {
  width: 300px;
  margin: var(--sizing-s);
}
.flex {
  display: flex;
  flex-direction: row;
}
